MAILERLITE_API_TOKEN=eyJhdWQiOiI0IiwianRpIjoiZGI4MWNiMzUxYzU2NjJmMzhjOWYyNGM2ODhhNTI0ZWMzNDI5NmI2NGUxYzM3YmI5YmYyOTk2YWI5OWNjMGJlZGE4YzRjMTc3MDQzMjI0OGIiLCJpYXQiOjE3NjM0MTIwODIuODUwNjQ3LCJuYmYiOjE3NjM0MTIwODIuODUwNjUsImV4cCI6NDkxOTA4NTY4Mi44NDQ0MjQsInN1YiI6IjEzNTY3NDYiLCJzY29wZXMiOltdfQ
MAILERLITE_GROUP_ID=171399940431414690
CONTACT_WEBHOOK_URL=https://hooks.slack.com/services/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
